* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

#canvas {
    touch-action: none;
    background-color: white;
    background-image: url('../images/paper.jpg');
    background-size: cover; 
    width: 100vw;
    height: 100vh;
}

.toolbar img,
.colorbar img {
    width: 60px;
    height: 60px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba( 0,0,0,0.25 );  
}

.toolbar img.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#blue {
    background-color: rgb(15,60,125);
}

#green {
    background-color: rgb(65,100,75);
}

#brown {
    background-color: rgb(165,60,35);
}

#yellow {
    background-color: rgb(195,180,100);
}

#red {
    background-color: rgb(115,35,55);
}

#black {
    background-color: rgb(0,0,0);
}

#white {
    background-color: rgb(255,255,255);
}

#sidebar {
    position: fixed;
    background-color: #7C7A7C; /* Trolley Grey */
    height: 100vh;
    width: 300px;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 250px 100px;
    transform: translateX(-250px);
    transition: 0.5s;
}

.menu-open #sidebar {
    transform: translateX(0px);
}

#slider {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

#slider output {
    margin: 5px;
}

#colors {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#colors img {
    margin: auto;
}

#tools {
    background-color: #565255; /* Davy's Grey */
    grid-row: 1 / span 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}