* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: lightgray;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 480px auto; 
}

#canvas {
    width: 960px;
    height: 720px;
    touch-action: none;
    background-color: white;
    background-image: url('../images/paper.jpg');
    background-size: cover;
}

.toolbar img {
    width: 50px;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-shadow:0 2px 6px rgba( 0,0,0,0.25 );
}

.toolbar img.active {
    border-color: #00ccff;
}

.toolbar img:hover {
    transform: scale(1.1);
}

.toolbar img.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#blue {
    background-color: rgb(15,60,125);
}

#green {
    background-color: rgb(65,100,75);
}

#brown {
    background-color: rgb(165,60,35);
}

#yellow {
    background-color: rgb(195,180,100);
}

#red {
    background-color: rgb(115,35,55);
}

#black {
    background-color: rgb(0,0,0);
}

#white {
    background-color: rgb(255,255,255);
}
