* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

#canvas {
    touch-action: none;
    background-color: white;
    background-image: url('../images/paper.jpg');
    background-size: cover; 
    width: 100vw;
    height: 100vh;
}

.toolbar img,
.colorbar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba( 0,0,0,0.25 );
    border: 3px solid #ffffff;
}

.toolbar img.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#colors img.active {
    border-color: #3DBBFF; /* Picton Blue */
}

#blue {
    background: rgb(15,60,125);
}

#green {
    background: rgb(65,100,75);
}

#brown {
    background: rgb(165,60,35);
}

#yellow {
    background: rgb(195,180,100);
}

#red {
    background: rgb(115,35,55);
}

#black {
    background: rgb(0,0,0);
}

#white {
    background: rgb(255,255,255);
}

#sidebar {
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.2);
    position: fixed;
    background-color: #3C5E70; /* Deep Space Sparkle */
    height: 96vh;
    width: 300px;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 250px 100px;
    transform: translateX(-250px);
    transition: 0.5s;
    margin-top: 2vh;
}

.menu-open #sidebar {
    transform: translateX(0px);
}

#slider {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

#slider output {
    padding-left: 10px;
    color: white;
}

#colors {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#colors img {
    margin: auto;
}

#tools {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #133344; /* Yankees Blue */
    grid-row: 1 / span 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}